@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@import url('https://fonts.googleapis.com/css?family=Kanit:100,300|Proza+Libre');

body {
  padding-top: 70px;
  background: #C4BFC4;
  color: #152B5E;
  font-family: 'Kanit', sans-serif;
}

a {
  color: #3B393B;
}


.article-title, .article-body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.3em;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 3.0em;
  margin-bottom: 40px;
}

.btn-space {
  margin-top: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-success  {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.author {
  padding-top: 15px;
  padding-left: 15px;
  font-style: italic;
}

.comment-body, .comment-time {
  margin-left: 1.5em;
}


.comment-body {
  font-size: large;
}

.comment-time {
  font-style: italic;
  font-size: small;
}

.navbar-brand {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
}
